<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://www.indiamart.com/proddetail/mercedes-bmw-cycles-19097679048.html" alt="..." class="img-responsive">
            <div class="caption">
                <h3>mercedas</h3>
                <p class="description">Red and Yellow Mercedes BMW Cycles</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://compare.buyhatke.com/price/hero-cycles-hero-blade-26t-s365bbdbd01-hybrid-cycle-red-black-price-in-india-hatke7797774" alt="..." class="img-responsive">
            <div class="caption">
                <h3>hero blade</h3>
                <p class="description">Hero Blade 26T S365BBDBD01 Hybrid Cycle</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
  

   